<% if @brand.errors.any? %>
  <%= @brand.errors.count %>件のエラーが発生しました
  <ul>
    <% @brand.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: [:admin, @brand] do |f| %>
  <h4>ブランド名</h4>
  <%= f.text_field :name %>
  <%= f.submit 'create' %>
<% end %>
<% @brands.each do |brand| %>
  <div>
    <p><%= brand.name %></p>
    <%= link_to '削除', admin_brand_path(brand.id), method: :delete %>
  </div>
<% end %>

