<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      
<% if @brand.errors.any? %>
  <%= @brand.errors.count %>件のエラーが発生しました
  <ul>
    <% @brand.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: [:admin, @brand] do |f| %>
  <h4>ブランド名</h4>
  <%= f.text_field :name %>
  <%= f.submit 'create' %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>ブランド名</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.name %></td>
        <td><%= link_to '削除', admin_brand_path(brand.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    </div>
  </div>
</div>

