<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">


<% @posts.each do |post| %>

  <div>
    <!--image_tagを使いpostにActiveStorageで設定したimageを表示-->
    <!--post_image.get_imageの部分はPostモデル内に記述したメソッドを呼び出し-->
    <!--<#%= image_tag post.get_image, size:"300x300" %>-->
    <p><%= image_tag post.user.get_profile_image(100,100) %></p>

    <p><%= image_tag post.image, size:"300x300" %></p>

    <p>ブランド名: <%=post.brand.name %></p>

    <%= link_to post_path(post.id) do %>
      <P>・ <%= post.title %></P>
    <% end %>

    <p><%= post.body %></p>

    <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>

    <%= render 'posts/favorite', post: post %>
    <!--いいね機能の部分テンプレートを作って、非同期-->

  </div>
  

<% end %>

    </div>
  </div>
</div>