<div class="card-list-container py-5">
  
  <div class="card w-50 mx-auto mt-4 shadow-lg">

    <!--画像上部-->
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= image_tag @post.user.get_profile_image(75,75), class:"mt-3 rounded-circle"; %>
        </div>
        <div class="col-10">
          <p class="card-title">
            <%#= link_to(post_image_path(post_image.id), class:"text-dark") do %>
              <p><strong><i class="fa-solid fa-user-secret"></i><span> <%= @post.user.name %></span></strong></P>
            <%# end %>
          </p>
        </div>
      </div>
    </div>
    <!--画像部分-->
    <%#= link_to post_image_path(post_image.id) do %>
      <%= image_tag @post.image, class:"card-img-top" %>
    <%# end %>

    <!--画像下部-->
    <div class="card-body">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-10">
          <p class="card-title">
            <%#= link_to(post_image_path(post_image.id), class:"text-dark") do %>
              <strong><span>ブランド名: <%=@post.brand.name %></span></strong>
            <%# end %>
          </p>
          <%= link_to post_path(@post.id) do %>
            <P class="card-text">題名 :<%= @post.title %></P><% end %>
           <p class="card-text">説明：<%= @post.body %></p>
           <p class="card-text">投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
           <!--いいね機能の部分テンプレートを作って、非同期-->
           <spam><%#= render 'favorite', post: post, class:"text-dark" %></span>
           <p><%= link_to "編集", edit_post_path(@post.id), class:"btn btn-primary" %>
             <% if @post.user == current_user %>
               <%= link_to "削除", post_path(@post.id), method: :delete, class:"btn btn-secondary", "data-confirm" => "本当に削除しますか？" %>
             <% end %>
           </p>
           <span><%= render 'favorite', post: @post, class:"text-dark" %></span>
           <div>
              <p>コメント件数：<%= @post.post_comments.count %></p>
           </div>
        </div>
      </div>
    </div>
    


  </div>
  <div class='container'>
    <div class='row'>
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <% @post.post_comments.each do |post_comment| %>
          <br><%= image_tag post_comment.user.get_profile_image(100,100) %></br>
          <%= post_comment.user.name %>
          <!--何日投稿よりも何分何時間前の投稿のように投稿してからの時間表記にする-->
          <br><%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %></br>
          <br><% if post_comment.user == current_user %>
            <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class:"btn btn-secondary" %>
          <% end %>
        <% end %>
        <div>
          <%= form_with model: [@post, @post_comment] do |f| %>
            <br><%= f.text_area :comment, rows: '5',class:"form-control", placeholder: "メッセージ" %></br>
            <p><%= f.submit "送信する" %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
